.container {
  margin-top: 40px;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.formcont {
  width: 600px;
  margin: 0 auto;
}

.btncont {
  text-align: center;
}

.errormsg {
  color: red;
}

.msgcont {
  text-align: center;
  height: 200px;
  margin-top: 100px;
}
